strict-ssl=false
registry=http://10.100.19.15:1010/repository/npm-group/

//10.100.19.15:1010/repository/npm-group/:username=user-dev
//10.100.19.15:1010/repository/npm-group/:_password=dXNlcmRldkBxd2Vy
//10.100.19.15:1010/repository/npm-group/:email=userdev@example.com
